<div class="container">
  <div
    class="row align-items-start"
    style="height: 200px; width: 100%"
  >
  <div class="card bg-dark text-white">
    <img class="card-img" src="https://res.cloudinary.com/dzvzumvhz/image/upload/v1617470831/photo_d1fs9s.jpg" alt="Card image">
    <div class="card-img-overlay">
      <h5 class="card-title">Arbaz Sohail Khan</h5>
      <p class="card-text">Admitted in 2017 batch of BS(CS)</p>
      <p class="card-text">Current year: Senior</p>
    </div>
  </div>
  </div>
  <!-- <h2>University Information</h2> -->
  <div
    class="row align-items-start"
    style="background-color: green; height: 200px; width: 100%"
  >
    <div class="col" style="background-color: rgb(81, 150, 138);; width: 100%">
      <div
        class="card"
        style="margin-left: 20px; width: 1000px; height: 200px; width: 100%"
      >
        <h6 class="card-img-top">UNIVERSITY INFO</h6>
        <div class="card-body">
          <div class="container">
            <div class="row">
              <div class="col-sm" style="margin-top: 20px">
                Roll No: 17K-3845
              </div>
              <div class="col-sm" style="margin-top: 20px">Degree: BS(CS)</div>
              <div class="col-sm" style="margin-top: 20px">
                Batch: Fall 2017
              </div>
            </div>
            <div class="row">
              <div class="col-sm" style="margin-top: 20px">Section: G</div>
              <div class="col-sm" style="margin-top: 20px">Campus: Karachi</div>
              <div class="col-sm" style="margin-top: 20px">Status: Current</div>
            </div>
          </div>

          <!-- <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a> -->
        </div>
      </div>
    </div>
  </div>
  <div
    class="row align-items-start"
    style="background-color: green;  width: 100%"
  >
    <div class="col" style="background-color: rgb(81, 150, 138);; width: 100%">
      <div
        class="card"
        style="margin-left: 20px; width: 1000px;  width: 100%"
      >
        <h6 class="card-img-top">PERSONAL INFORMATION</h6>
        <div class="card-body">
          <div class="container">
            <div class="row">
              <div class="col-sm" style="margin-top: 20px">
                Name: Arbaz Sohail Khan
              </div>
              <div class="col-sm" style="margin-top: 20px">DOB: 4/4/1998</div>
              <div class="col-sm" style="margin-top: 20px">
                Blood Group: N/A
              </div>
            </div>
            <div class="row">
              <div class="col-sm" style="margin-top: 20px">Gender: Male</div>
              <div class="col-sm" style="margin-top: 20px">
                CNIC:425014218145
              </div>
              <div class="col-sm" style="margin-top: 20px">
                Nationality: Pakistan
              </div>
            </div>
            <div class="row">
              <div class="col-sm" style="margin-top: 20px"></div>
              <div class="col-sm" style="margin-top: 20px">
                Email: arbaz.sohail@outlook.com
              </div>
              <div class="col-sm" style="margin-top: 20px">
                Mobile No: 03320550990
              </div>
            </div>
          </div>

          <!-- <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a> -->
        </div>
      </div>
    </div>
  </div>
  <div
    class="row align-items-start"
    style="background-color: green; width: 100%"
  >
    <div class="col" style="background-color: rgb(81, 150, 138);; width: 100%">
      <div class="card" style="margin-left: 20px; width: 1000px; width: 100%">
        <h6 class="card-img-top">CONTACT INFORMATION</h6>
        <div class="card-body">
          <div class="container">
            <div class="row">
              <div class="col-sm" style="margin-top: 20px;font-weight: bold;">Permanent</div>
              <div class="col-sm" style="margin-top: 20px;font-weight: bold;">Current</div>
            </div>
            <div class="row">
              <div class="col-sm" style="margin-top: 20px">
                Address: Flat no. 6,4A=9/2, Al-Saeed villa Qadeer Ahmed
                Siddiqque Road, Nazimabad No. 4
              </div>
              <div class="col-sm" style="margin-top: 20px">
                Address: Flat no. 6,4A=9/2, Al-Saeed villa Qadeer Ahmed
                Siddiqque Road, Nazimabad No. 4
              </div>
            </div>
            <div class="row">
              <div class="col-sm" style="margin-top: 20px">
                Home Phone: 03322577107
              </div>
              <div class="col-sm" style="margin-top: 20px">
                Home Phone: 03322577107
              </div>
            </div>
            <div class="row">
              <div class="col-sm" style="margin-top: 20px">
                Postal Code:54125
              </div>
              <div class="col-sm" style="margin-top: 20px">
                Postal Code:54125
              </div>
            </div>

            <div class="row">
              <div class="col-sm" style="margin-top: 20px">City: Karachi</div>
              <div class="col-sm" style="margin-top: 20px">City: Karachi</div>
            </div>
            <div class="row">
              <div class="col-sm" style="margin-top: 20px">
                Country: Pakistan
              </div>
              <div class="col-sm" style="margin-top: 20px">
                Country: Pakistan
              </div>
            </div>
          </div>

          <!-- <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a> -->
        </div>
      </div>
    </div>
  </div>
  <div
    class="row align-items-start"
    style="background-color: green;  width: 100%"
  >
    <div class="col" style="background-color: rgb(81, 150, 138);; width: 100%">
      <div
        class="card"
        style="margin-left: 20px;   width: 100%"
      >
        <h6 class="card-img-top">FAMILY INFORMATION</h6>
        <div class="card-body">
          <div class="container">
            <div class="row">
              <div class="col-sm" style="margin-top: 20px">
                Relation
              </div>
              <div class="col-sm" style="margin-top: 20px">
                Name
              </div>
              <div class="col-sm" style="margin-top: 20px">
                CNIC
              </div>
              <div class="col-sm" style="margin-top: 20px">
                For WithHolding Tax
              </div>
              
            </div>
            <div class="row">
              <div class="col-sm" style="margin-top: 20px">
                Father
              </div>
              <div class="col-sm" style="margin-top: 20px">
                Sohail ahmed Khan
              </div>
              <div class="col-sm" style="margin-top: 20px">
                4250142181145
              </div>
              <div class="col-sm" style="margin-top: 20px">
                Yes
              </div>
              
            </div>
          </div>

          <!-- <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a> -->
        </div>
      </div>
    </div>
  </div>
</div>

<!-- <div class="row" style="justify-content: center">
  <div class="card" style="width: 18rem; margin-left: 20px">
    <img
      class="card-img-top"
      src="https://res.cloudinary.com/dzvzumvhz/image/upload/v1614925255/sample.jpg"
      alt="Card image cap"
    />
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">
        Some quick example text to build on the card title and make up the bulk
        of the card's content.
      </p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>
  <div class="card" style="width: 18rem; margin-left: 20px">
    <img
      class="card-img-top"
      src="https://res.cloudinary.com/dzvzumvhz/image/upload/v1614925255/sample.jpg"
      alt="Card image cap"
    />
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">
        Some quick example text to build on the card title and make up the bulk
        of the card's content.
      </p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>
  <div class="card" style="width: 18rem; margin-left: 20px">
    <img
      class="card-img-top"
      src="https://res.cloudinary.com/dzvzumvhz/image/upload/v1614925255/sample.jpg"
      alt="Card image cap"
    />
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">
        Some quick example text to build on the card title and make up the bulk
        of the card's content.
      </p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>
  <div class="card" style="width: 18rem; margin-left: 20px">
    <img
      class="card-img-top"
      src="https://res.cloudinary.com/dzvzumvhz/image/upload/v1614925255/sample.jpg"
      alt="Card image cap"
    />
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">
        Some quick example text to build on the card title and make up the bulk
        of the card's content.
      </p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>
  <div class="card" style="width: 18rem; margin-left: 20px">
    <img
      class="card-img-top"
      src="https://res.cloudinary.com/dzvzumvhz/image/upload/v1614925255/sample.jpg"
      alt="Card image cap"
    />
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">
        Some quick example text to build on the card title and make up the bulk
        of the card's content.
      </p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>
  <div class="card" style="width: 18rem; margin-left: 20px">
    <img
      class="card-img-top"
      src="https://res.cloudinary.com/dzvzumvhz/image/upload/v1614925255/sample.jpg"
      alt="Card image cap"
    />
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">
        Some quick example text to build on the card title and make up the bulk
        of the card's content.
      </p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>
</div> -->
