<div class="list-group" id="myList" role="tablist">
    <a class="list-group-item list-group-item-action active" data-toggle="list" href="#home" role="tab">Home</a>
    <a class="list-group-item list-group-item-action" data-toggle="list" href="#profile" role="tab">Profile</a>
    <a class="list-group-item list-group-item-action" data-toggle="list" href="#messages" role="tab">Messages</a>
    <a class="list-group-item list-group-item-action" data-toggle="list" href="#settings" role="tab">Settings</a>
  </div>
  
  <div class="tab-content">
    <div class="tab-pane active" id="home" role="tabpanel">
        
        <input type="button" name="arbaz here" title="bbullshitS" id="dssds" value="Bullshit"/>
        homme ha rte</div>
    <div class="tab-pane" id="profile" role="tabpanel">ye profile wala ha   </div>
    <div class="tab-pane" id="messages" role="tabpanel">ye msg walla ha </div>
    <div class="tab-pane" id="settings" role="tabpanel">settings ha yeee</div>
  </div>
  
  <script>
    $(function () {
      $('#myList a:last-child').tab('show')
    })
  </script>