<div class="container">

  <section>
    <nav class="navbar navbar-light bg-light">
      <a class="navbar-brand" href="#">Course Registration is only active till 5th may 2022</a>
      <a class="navbar-brand" href="#">If seats are full please email a request to Coure.reg@gmail.com</a>

    </nav>

  </section>
<section style="margin-top: 100px;">
  <h5 >Courses Registered</h5>

<div class="list-group" id="myList" role="tablist">
    <a class="list-group-item list-group-item-action active" data-toggle="list" href="#home" role="tab">CS-401 Computer Architecture</a>
    <a class="list-group-item list-group-item-action" data-toggle="list" href="#profile" role="tab">CS-405 Data Science</a>
    <a class="list-group-item list-group-item-action" data-toggle="list" href="#messages" role="tab">CS-209 Algorithums</a>
    <a class="list-group-item list-group-item-action" data-toggle="list" href="#settings" role="tab">CS-554 Information Processing Techniques</a>
  </div>
  
  <div class="tab-content">
    <div class="tab-pane active" id="home" role="tabpanel">
        
        <input type="button" name="arbaz here" title="bbullshitS" id="dssds" value="Bullshit"/>
        homme ha rte</div>
    <div class="tab-pane" id="profile" role="tabpanel">ye profile wala ha   </div>
    <div class="tab-pane" id="messages" role="tabpanel">ye msg walla ha </div>
    <div class="tab-pane" id="settings" role="tabpanel">settings ha yeee</div>
  </div>
</section>
<section style="margin-top: 100px;">
  <h5>Courses Offered</h5>

  <div class="list-group" id="myList2" role="tablist">
      <a class="list-group-item list-group-item-action active" data-toggle="list" href="#home2" role="tab">MG-556 Strategic Management</a>
      <a class="list-group-item list-group-item-action" data-toggle="list" href="#profile2" role="tab">CS-456 Ethical Hacking</a>
      <a class="list-group-item list-group-item-action" data-toggle="list" href="#messages2" role="tab">MG-507 Research Methods</a>
      <a class="list-group-item list-group-item-action" data-toggle="list" href="#settings2" role="tab">CS-963 Software for Mobile Devices</a>
    </div>
    
    <div class="tab-content">
      <div class="tab-pane active" id="home2" role="tabpanel">
          
          <input type="button" name="arbaz here" title="bbullshitS" id="dssds" value="Bullshit"/>
          homme ha rte</div>
      <div class="tab-pane" id="profile2" role="tabpanel">ye profile wala ha   </div>
      <div class="tab-pane" id="messages2" role="tabpanel">ye msg walla ha </div>
      <div class="tab-pane" id="settings2" role="tabpanel">settings ha yeee</div>
    </div>
  </section>
  
<section style="margin-top: 100px; margin-bottom: 100px;">
  <h5>Courses Restricted</h5>
  <div class="list-group" id="myList3" role="tablist">
      <a class="list-group-item list-group-item-action active" data-toggle="list" href="#home3" role="tab">Home</a>
      <a class="list-group-item list-group-item-action" data-toggle="list" href="#profile3" role="tab">Profile</a>
      <a class="list-group-item list-group-item-action" data-toggle="list" href="#messages3" role="tab">Messages</a>
      <a class="list-group-item list-group-item-action" data-toggle="list" href="#settings3" role="tab">Settings</a>
    </div>
    
    <div class="tab-content">
      <div class="tab-pane active" id="home3" role="tabpanel">
          
          <input type="button" name="arbaz here" title="bbullshitS" id="dssds" value="Bullshit"/>
          homme ha rte</div>
      <div class="tab-pane" id="profile3" role="tabpanel">ye profile wala ha   </div>
      <div class="tab-pane" id="messages3" role="tabpanel">ye msg walla ha </div>
      <div class="tab-pane" id="settings3" role="tabpanel">settings ha yeee</div>
    </div>
  </section>
</div>
  <script>
    $(function () {
      $('#myList a:last-child').tab('show')
    })
  </script>
