<html>
<head></head>
<body>
    <div class="container">
    <img class="card-img" src="https://res.cloudinary.com/dzvzumvhz/image/upload/v1617473518/n_taterh.jpg" alt="Card image">
    <div  class="card-img-overlay" style="margin-top: 50px;">
        <h1 style="color: rgb(81, 150, 138); font-weight: 500;">IPT PROJECT</h1>
        <h2 style="color: rgb(115, 146, 141); font-weight: 500;">Group Members</h2>
        <h3 style="color: rgb(81, 103, 150); font-weight: 500;">Arbaz Sohail Khan 17k3845</h3>
        <h3 style="color: rgb(150, 81, 81); font-weight: 500;">Mohammmad Osama Rajput 17k3846</h3>
        <h3 style="color: rgb(188, 199, 40); font-weight: 500;">Ahmed Taha Farooqui 17k3842</h3>
        </div>    
    </div>
</body>
</html>
